<div class="elementary-data-basic">
	<h3 class="elementary-data-basic-heading">{{this.[0].elementary.name}} - Total Enrollment: {{this.[0].elementary.enrollment}}</h3>
	<h4 class="elementary-data-basic-ratings">- GreatSchools Rating: <span class="gs rating">{{this.[0].elementary.gsRating}}</span> - Parent Rating: <span class="parent rating">{{this.[0].elementary.parentRating}}</span></h4>
</div>