{{log this}}

<div class="elementary-data-basic">
	<h3 class="elementary-data-basic-heading">{{this.[0].elementaryRating.schoolname}} - <img src="{{this.[0].elementaryRating.testrating_image_large}}" alt=""></h3>
</div>