<div class="high-data-basic">
	<h3 class="high-data-basic-heading">{{this.[0].high.name}} - Total Enrollment: {{this.[0].high.enrollment}}</h3>
	<h4 class="high-data-basic-ratings">- GreatSchools Rating: <span class="gs rating">{{this.[0].high.gsRating}}</span> - Parent Rating: <span class="parent rating">{{this.[0].high.parentRating}}</span></h4>
</div>