<li class="site-nav-item">
  <h3 class="site-nav-item-search-heading"><i class="fa fa-search"></i></h3>
  <div class="site-nav-item-search">
    <h3 class="site-nav-item-search-text">Search for homes near:</h3>
    <form class="site-nav-item-search-form">
      <input type="text" class="site-nav-item-search-area" placeholder="Zipcode">
      {{!-- <input type="text" class="site-nav-item-search-city-state" placeholder="City, State"> --}}
      <button type="submit" class="site-nav-item-search-submit">Search</button>
    </form>
  </div>
</li>
<li class="site-nav-item">
  <i class="fa fa-close"></i>
  <div class="site-nav-item-branding">
    <i class="fa fa-graduation-cap fa-2x"></i>
    <h3 class="site-nav-item-branding-text">The Educated Homebuyer</h3>
  </div>
  <div class="site-nav-item-description">
    <p class="site-nav-item-description-text1">The homebuyer's tool</hp>
    <p class="site-nav-item-description-text1">for ensuring decisions</hp>
    <p class="site-nav-item-description-text1">are more informed.</hp>
  </div>
</li>
<li class="site-nav-item">
  <h3 class="site-nav-item-sources-heading"><i class="fa fa-book"></i></h3>
  <div class="site-nav-item-sources">
    <h3 class="site-nav-item-sources-text">Sources used for this app:</h3>
    <ul class="site-nav-item-sources-list">
      <li class="site-nav-item-sources-item"><a href="http://zillow.com"><img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40.gif" width="150" height="40" alt="Zillow Real Estate Search" /></a></li>
      <li class="site-nav-item-sources-item"><a href="http://google.com/maps"><img src="../../img/Google-Map-Logo.jpg" width="80" height="40"></a></li>
      <li class="site-nav-item-sources-item"><a href="http://greatschools.org"><img src="../../img/greatschools.png" width="150" height="40"></a></li>
      <li class="site-nav-item-sources-item"><a href="http://active.com"><img src="../../img/active.gif" width="150" height="40"></a></li>
    </ul>
  </div>
</li>
<li class="site-nav-item">
  <h3 class="site-nav-item-filter-heading"><i class="fa fa-filter"></i></h3>
  <form class="site-nav-item-filter">
      <label class="filter-price-label">Price:</label>
      <input type="number" class="filter-price-min-input" placeholder="min" min="0"> to <input type="number" class="filter-price-max-input" placeholder="max" min="0">
      <label class="filter-bedrooms-label">Bedrooms:</label>
      <input type="number" class="filter-bedrooms-input" placeholder="0+" min="0">
      <label for="" class="filter-bathrooms-label">Bathrooms:</label>
      <input type="number" class="filter-bathrooms-input" placeholder="0+" min="0">
      <label for="" class="filter-sqft-label">House Square Feet:</label>
      <input type="number" class="filter-sqft-min-input" placeholder="min" min="0"> to <input type="number" class="filter-sqft-max-input" placeholder="max" min="0"><br>
      <button class="filter-cancel"><i class="fa fa-ban"></i> Cancel</button>
      <button class="filter-submit"><i class="fa fa-filter"></i> Filter</button>
    </form>
</li>
<li class="site-nav-item">
  <h3 class="site-nav-item-login-heading"><i class="fa fa-user"></i></h3>
  <div class="login">
    <h3 class="login-heading">Login:</h3>
    <input type="text" class="login-email" required placeholder="Email">
    <input type="text" class="login-password" required placeholder="Password">
    <button class="login-submit"><i class="fa fa-check"></i></button>
  </div>
</li>
<li class="site-nav-item">
  <h3 class="site-nav-item-register-heading"><i class="fa fa-user-plus"></i></h3>
  <div class="register">
    <h3 class="register-heading">Register:</h3>
    <input type="text" class="register-name" required placeholder="Name">
    <input type="text" class="register-email" required placeholder="Email">
    <input type="text" class="register-password" required placeholder="Password">
    <button class="register-submit"><i class="fa fa-plus-circle"></i></button>
  </div>
</li>