<div class="listing-data-census data-item">
	<h3 class="listing-data-census-heading"><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>Census and Crime Data</h3>
</div>
<div class="listing-data-census-data data-view">
	census data
</div>