<div class="elementary-data">
	<div class="elementary-data-basic">
		<h3 class="elementary-data-basic-heading">{{this.[0].elementaryRating.schoolname}} - <img src="{{this.[0].elementaryRating.testrating_image_large}}" alt=""></h3>
	</div>
	<div id="elementary-data-tests"></div>
	<div id="elementary-data-teachers"></div>
</div>
<div class="middle-data">
	<div id="middle-data-tests"></div>
	<div id="middle-data-teachers"></div>
</div>
<div class="high-data">

	<div id="high-data-tests"></div>
	<div id="high-data-teachers"></div>
</div>