<section class="listing-data">
	<ul class="listing-data-containers">
		<li class="listing-data-census data-item">
			<h3 class="listing-data-census-heading"><i class="fa fa-chevron-down"></i>Census Data</h3>
			<div class="listing-data-census-data">
				some info that's hidden for now
			</div>
		</li>
		<li class="listing-data-crime data-item">
			<h3 class="listing-data-crime-heading"><i class="fa fa-chevron-down"></i>Crime Data</h3>
		</li>
		<li class="listing-data-schools data-item">
			<h3 class="listing-data-schools-heading"><i class="fa fa-chevron-down"></i>Schools Data</h3>
		</li>
		<li class="listing-data-active data-item">
			<h3 class="listing-data-active-heading"><i class="fa fa-chevron-down"></i>Active Profile</h3>
		</li>
	</ul>
</section>
<section class="listing-info">
	<div class="listing-info-images">
		<i class="fa fa-chevron-right"></i>
		<i class="fa fa-chevron-left"></i>
		<img class="listing-info-images-image" src="http://s.hswstatic.com/gif/buying-house1.jpg" alt="">
		<ul class="listing-info-images-thumbnails">
			<li class="listing-info-images-thumbnails-item"><img src="http://s.hswstatic.com/gif/buying-house1.jpg" alt=""></li>{{!-- 
			 --}}<li class="listing-info-images-thumbnails-item"><img src="http://s.hswstatic.com/gif/buying-house1.jpg" alt=""></li>{{!-- 
			 --}}<li class="listing-info-images-thumbnails-item"><img src="http://s.hswstatic.com/gif/buying-house1.jpg" alt=""></li>{{!-- 
			 --}}<li class="listing-info-images-thumbnails-item"><img src="http://s.hswstatic.com/gif/buying-house1.jpg" alt=""></li>{{!-- 
			 --}}<li class="listing-info-images-thumbnails-item"><img src="http://s.hswstatic.com/gif/buying-house1.jpg" alt=""></li>
		</ul>
	</div>
	<div class="listing-info-content">
		<h3 class="listing-info-content-address">Address: A place you've never been and never want to go!</h3>
		<h3 class="listing-info-content-price">Price: A cool 1.5mil...</h3>
		<ul class="listing-info-content-features">
			<h4 class="listing-info-content-features-heading">Property Features:</h4>
			<li>A roof</li>
			<li>Indoor plumbing</li>
			<li>Most doors open and close</li>
		</ul>
		<ul class="listing-info-content-facts">
			<h4 class="listing-info-content-facts-heading">Property Facts:</h4>
			<li>Old as dirt</li>
			<li>neighbors smell</li>
			<li>sits atop an ancient Indian burial ground</li>
		</ul>
	</div>
</section>