<div class="middle-data-basic">
	<h3 class="middle-data-basic-heading">{{this.[0].middle.name}} - Total Enrollment: {{this.[0].middle.enrollment}}</h3>
	<h4 class="middle-data-basic-ratings">- GreatSchools Rating: <span class="rating">{{this.[0].middle.gsRating}}</span> - Parent Rating: <span class="rating">{{this.[0].middle.parentRating}}</span></h4>
</div>