{{log this}}

<div class="middle-data-basic">
	<h3 class="middle-data-basic-heading">{{this.[0].middleRating.schoolname}} - <img src="{{this.[0].middleRating.testrating_image_large}}" alt=""></h3>
</div>