.listing {
	background-image: none;
	background-color: rgb(250,250,250);
}

.listing-container {
	height: 100%;
	width: 100%;
}

.listing-header {
	background-color: $listing-blue;
	border-bottom: 2px solid $listing-blue;
	height: 60px;
	width: 100%;
}

.listing-header-branding {
	@include span-columns(3);
	@include shift(1);
	background-color: rgb(250,250,250);
	font-size: 1.8vw;
	line-height: 60px;
	text-align: center;
}

.listing-header-branding .fa {
	margin-left: .5em;
	margin-top: .8em;
}

.listing-header-branding-content {
	font-weight: 100;
}

.listing-header-nav {
	@include span-columns(5);
	@include shift(3);
}

.listing-header-nav li {
	@include span-columns(1.5 of 5);
	@include omega();
	color: rgb(250,250,250);
	display: inline-block;
	line-height: 60px;
	text-align: center;
	transition: all .2s ease;
}

.listing-header-nav li:hover {
	background-color: $light-blue;
	font-size: 1.1em;
	cursor: pointer;
}

.listing-data {
	@include span-columns(5);
	height: 100%;
}

.data-item {
	border-bottom: 2px solid $listing-blue;
	font-size: 1.2em;
	height: 80px;
	line-height: 80px;
	transition: all .2s ease;
}

.data-item:hover {
	background-color: $listing-blue;
	color: rgb(250,250,250);
	cursor: pointer;
}

.listing-data-containers .fa-chevron-down,
.listing-data-containers .fa-chevron-up {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
}

.listing-data-containers .fa-chevron-up {
	display: none;
}

.listing-data-census-data,
.listing-data-crime-data,
.listing-data-schools-data,
.listing-data-active-data {
	background-color: $listing-blue;
	color: rgb(250,250,250);
	display: none;
	position:relative;
}

.listing-data-census-heading,
.listing-data-crime-heading,
.listing-data-schools-heading,
.listing-data-active-heading {
	margin-left: 1em;
}

.listing-info {
	@include span-columns(7);
	border-left: 2px solid $listing-blue;
	padding-bottom: 1em;
	min-height: 705px;
}

.listing-info-images {
	font-size: 2em;
	padding-top: .5em;
	position: relative;
}

.listing-info .fa-chevron-right {
	position: absolute;
	right: 15%;
	top: 35%;
	transition: all .2s linear;
}

.listing-info .fa-chevron-left {
	position: absolute;
	left: 15%;
	top: 35%;
	transition: all .1s linear;
}

.listing-info .fa-chevron-left:hover,
.listing-info .fa-chevron-right:hover {
	color: $listing-blue;
	cursor: pointer;
}

.listing-info-images-image {
	width: 50%;
	margin-bottom: .5em;
	margin-left: 25%;
}

.listing-info-images-thumbnails {
	border-bottom: 2px solid $listing-blue;
	border-top: 2px solid $listing-blue;
	text-align: center;
	width: 100%;
}

.listing-info-images-thumbnails-item {
	display: inline-block;
	margin: 5px;
	padding-top: 5px;
	width: 90px;
}

.listing-info-images-thumbnails-item img {
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.6);
	height: 80px;
	transition: all .2s ease;
	width: 80px;
}

.listing-info-images-thumbnails-item img:hover {
	cursor: pointer;
	transform: scale(1.1); 
}

.listing-info-content {
	font-family: sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	overflow: scroll;
	padding-left: 1em;
	padding-top: 1em;
}

.content-data {
	font-weight: 100;
}

.listing-info-content li {
	list-style-type: disc;
	margin-left: 1em;
}