@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
	box-sizing: border-box;
	outline: none;
}

// Typography
$base-font-family: $helvetica;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$pink: rgba(213, 96, 184,.9);
$orange: rgba(229, 150, 36,.9);
$green: rgba(73, 174, 69,.9);
$purple: rgba(81, 34, 131,.9);
$yellow: rgba(240, 206, 47,.9);
$blue: rgba(22, 136, 222,.9);
$red: rgba(194, 29, 35,.9);

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

@import 'landing';

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  height: 100%;
  width: 100%;
}

#app {
	background-image: url('../../img/us.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 705px;
	width: 100%;
}